<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShazCorp Cloud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=13">
    
</head>
<body>
    <div style="position:absolute; top:15px; right:20px; color:white;">

    {% if user %}
        Logged in as: {{ user }}
        <a href="/.auth/logout">Logout</a>
    {% else %}
        <a href="/.auth/login/aad">Login</a>
    {% endif %}

</div>

    <div class="header">
        <div class="branding">
            <img src="/static/logo.png" class="logo">
            <div>
                <h1>ShazCorp Cloud</h1>
                <p class="subtitle">Game Server Platform</p>
            </div>
        </div>
    </div>   
    <h1 style="grid-column: 1 / -1; text-align: center;">
        ShazCorp Dashboard
    </h1>
    <div class="container">
    
    <div class="card">
        <h2>Server Status</h2>
        <div class="status">
            <div class="dot green"></div>
            <p>Online</p>
        </div>
        <p id="hostname" class="loading">Server: Loading...</p>
        <p><strong>CPU:</strong> <span id="cpu-name">Loading...</span></p>
        <p id="cpu">CPU: --%</p>
        <p id="ram">RAM: --</p>
        <p id="disk">Disk: --</p>
    </div>
        <div class="card">
         <h2>VM Management</h2>
            <div class="server">
                <h3>windows-gaming</h3>
                <div class="status">
                    <div class="dot" id="windows-gaming-dot"></div>
                    <span id="windows-gaming-text">Checking...</span>
                </div>
                <p id="windows-gaming-vmstats">CPU: -- | RAM: --</p>
                <button onclick="control('api/vm/start/windows-gaming', 'windows-gaming-text', 'Starting...', this)">Start</button>
                <button onclick="control('api/vm/stop/windows-gaming', 'windows-gaming-text', 'Stopping...', this)">Stop</button>
                <button onclick="control('api/vm/restart/windows-gaming', 'windows-gaming-text', 'Restarting...', this)">Restart</button>
                </div>
                Future VM expansion, but currently only the Windows Gaming VM is available.
    </div>
    <div class="card">
        <h2>VM Game Servers</h2>

        <div class="server">
            <h3>Digital Combat Simulator</h3>
            <div class="status">
                <div class="dot" id="dcs-dot"></div>
                <span id="dcs-text">Checking...</span>
            </div>
            <div class="controls">
                <button onclick="control('api/start/dcs', 'dcs-text', 'Starting...', this)">Start</button>
                <button onclick="control('api/stop/dcs', 'dcs-text', 'Stopping...', this)">Stop</button>
                <button onclick="control('api/restart/dcs', 'dcs-text', 'Restarting...', this)">Restart</button>
            </div>
        </div>
        <div class="server">
            <h3>Sons of the Forest</h3>
            <div class="status"> 
              
              <div class="dot" id="sons-dot"></div>
              <span id="sons-text">Checking...</span>

            </div>
            <div class="controls">
               <button onclick="control('api/start/sotf', 'sons-text', 'Starting...', this)">Start</button>
               <button onclick="control('api/stop/sotf', 'sons-text', 'Stopping...', this)">Stop</button>
               <button onclick="control('api/restart/sotf', 'sons-text', 'Restarting...', this)">Restart</button>
            </div>
        </div>
    </div>
        <div class="card">
            <h2>Backup-panel</h2>
            <p id="backup-last">Last: -</p>
            <p id="backup-next">Next: -</p>
            <p id="backup-status">Status: -</p>
            <p id="backup-upload">Cloud: -</p>
            
        </div>
    <div class="card">
        <h2>Docker Game Servers</h2>

        <div class="server">
            <h3>Zomboid</h3>
            <div class="status">
                <div class="dot" id="zomboid-dot"></div>
                <span id="zomboid-text">Checking...</span>
            </div>
                <p id="zomboid-stats">CPU: -- | RAM: --</p>
            <button onclick="control('api/docker/start/zomboid', 'zomboid-text', 'Starting...', this)">Start</button>
            <button onclick="control('api/docker/stop/zomboid', 'zomboid-text', 'Stopping...', this)">Stop</button>
            <button onclick="control('api/docker/restart/zomboid', 'zomboid-text', 'Restarting...', this)">Restart</button>
        </div>

        <div class="server">
            <h3>7 Days to Die</h3>
            <div class="status">
                <div class="dot" id="7days2die-dot"></div>
                <span id="7days2die-text">Checking...</span>
            </div>
                <p id="7days2die-stats">CPU: -- | RAM: --</p>
            <button onclick="control('api/docker/start/7days2die', '7days2die-text', 'Starting...', this)">Start</button>
            <button onclick="control('api/docker/stop/7days2die', '7days2die-text', 'Stopping...', this)">Stop</button>
            <button onclick="control('api/docker/restart/7days2die', '7days2die-text', 'Restarting...', this)">Restart</button>
        </div>

        <div class="server">
            <h3>Valheim</h3>
            <div class="status">
                <div class="dot" id="valheim-dot"></div>
                <span id="valheim-text">Checking...</span>
            </div>
                <p id="valheim-stats">CPU: -- | RAM: --</p>
            <button onclick="control('api/docker/start/valheim', 'valheim-text', 'Starting...', this)">Start</button>
            <button onclick="control('api/docker/stop/valheim', 'valheim-text', 'Stopping...', this)">Stop</button>
            <button onclick="control('api/docker/restart/valheim', 'valheim-text', 'Restarting...', this)">Restart</button>
        </div>
    </div>
    <div class="card">
        <h3>Container Logs</h3>

        <select id="log-container">
            <option value="zomboid">Zomboid</option>
            <option value="7days2die">7 Days To Die</option>
            <option value="valheim">Valheim</option>
        </select>

        <button onclick="loadLogs()">
            Refresh Logs
        </button>

        <pre id="logs-output">
            No logs loaded.
        </pre>
    </div>
</div>

    
    

<script>
async function loadLogs() {

    const container =
        document.getElementById("log-container").value;

    const response = await fetch(
        `/api/docker/logs/${container}`
    );

    const data = await response.json();

    document.getElementById("logs-output")
        .textContent = data.logs;
}




let intervals = [];



//API helper with built-in 401 handling and JSON parsing

function safeFetch(url, options = {}) {
    return fetch(url, options)
        .then(res => {
            if (res.status === 401) {
              console.log("Unauthorized - handled by Azure auth");
              return null;
            }

            return res.text().then(text => {
                try {
                    return JSON.parse(text);
                } catch {
                    console.log("Non-JSON response:", text);
                    return null;
                }
            });
        })
        .catch(err => {
            console.log("Fetch error:", err);
        });
}




function control(path, labelId = null, message = null, button = null) {

    if (button) {
        button.disabled = true;
    }

    if (labelId && message) {
        let el = document.getElementById(labelId);
        if (el) {
            el.innerText = message;
        }
    }

    safeFetch(path.startsWith("/") ? path : "/" + path, { method: "POST" })
        .then(data => {
            console.log("Action result:", data);
        })
        .catch(err => {
            console.error(err);
            alert("Action failed");
        })
        .finally(() => {
            if (button) {
                setTimeout(() => button.disabled = false, 3000);
            }
        });
}

//=========end of api helper and control functions, start of status update intervals========

//====Start of docker instances
function updateStatus() {
    safeFetch('/api/containers')
        .then(data => {
        if (!data) return;

            for (const [name, state] of Object.entries(data)) {

                let dot = document.getElementById(name + "-dot");
                let text = document.getElementById(name + "-text");

                if (!dot || !text) continue;

                if (state === "running") {
                    dot.className = "dot green";
                    text.innerText = "Online (Running)";
                } else {
                    dot.className = "dot red";
                    text.innerText = "Offline (Stopped)";
                }
            }
        });
}
intervals.push(setInterval(updateStatus, 5000));
function updateDockerStats() {
    if (isRedirecting) return;

    safeFetch('/api/docker-stats')
        .then(data => {
            if (!data) return;

            

            for (const [name, stats] of Object.entries(data)) {

                let el = document.getElementById(name + "-stats");
                if (!el) continue;

                let memUsed = stats.mem.split("/")[0].trim();

                function convertToGB(mem) {
                    if (mem.includes("MiB")) {
                        return (parseFloat(mem) / 1024).toFixed(2) + " GB";
                    }
                    if (mem.includes("GiB")) {
                        return parseFloat(mem).toFixed(2) + " GB";
                    }
                    return mem;
                }

                el.innerText = `CPU: ${stats.cpu} | RAM: ${convertToGB(memUsed)}`;
            }
        });
}

intervals.push(setInterval(updateDockerStats, 5000));
//====End of docker instances
//============= Backup status update interval moved to app.py to reduce load and avoid 401 issues during login/logout. =================

function updateBackupStatus() {
    safeFetch('/api/backup-status')
        .then(data => {
        if (!data) return;

            document.getElementById("backup-last").innerText =
                "Last: " + data.last_backup;

            // Next backup (Sunday 2AM calc)
            let now = new Date();
            let next = new Date();
            
            let targetDay = 2 //tuesday
            let targetHour = 1 // 01:00

            next.setDate(now.getDate() + (7 - now.getDay() + targetDay) % 7);
            next.setHours(targetHour, 2, 0, 0, 0);

            if (now.getDay() === targetDay && now.getHours() < targetHour) {
                next = new Date();
                next.setHours(targetHour, 0, 0, 0);
            }

            document.getElementById("backup-next").innerText =
                "Next: " + next.toLocaleString();

            // Status
            let statusEl = document.getElementById("backup-status");
            if (data.status === "true") {
                statusEl.innerText = "Status: OK";
                statusEl.style.color = "lightgreen";
            } else {
                statusEl.innerText = "Status: FAILED";
                statusEl.style.color = "red";
            }

            // Upload
            let uploadEl = document.getElementById("backup-upload");
            if (data.upload === "true") {
                uploadEl.innerText = "Cloud: Uploaded";
                uploadEl.style.color = "lightgreen";
            } else {
                uploadEl.innerText = "Cloud: FAILED";
                uploadEl.style.color = "red";
            }
        });
}
intervals.push(setInterval(updateBackupStatus, 10000));

//=============End of backup section, moved to app.py to reduce load and avoid 401 issues during login/logout.================

//============= Start of VM status and games section ================

function updateVMStats() {
    safeFetch('/api/vm-stats')
        .then(data => {
        if (!data) return;

            let el = document.getElementById("windows-gaming-vmstats");
            if (!el) return;

            el.innerText = `CPU: ${data.cpu}% | RAM: ${data.ram_used}MB / ${data.ram_max}MB`;
        });
}

intervals.push(setInterval(updateVMStats, 5000));


function updateVMGames() {
    safeFetch('/api/vm-games')
        .then(data => {
        if (!data) return;

            console.log("VM Games:", data);

            const games = ["dcs", "sons"];

            for (const name of games) {

                let dot = document.getElementById(name + "-dot");
                let text = document.getElementById(name + "-text");

                if (!dot || !text) {
                    console.log("Missing element:", name);
                    continue;
                }

                // 🔥 VM OFF override
                if (data.vm === "stopped") {
                    dot.className = "dot red";
                    text.innerText = "Offline (VM Off)";
                    continue;
                }

                if (data[name]) {
                    dot.className = "dot green";
                    text.innerText = "Online (Running)";
                } else {
                    dot.className = "dot red";
                    text.innerText = "Offline (Stopped)";
                }
            }
        });
}

intervals.push(setInterval(updateVMGames, 5000));


function updateVMStatus() {
    safeFetch('/api/vms')
        .then(data => {
        if (!data) return;

            

            for (const [name, state] of Object.entries(data)) {

                let dot = document.getElementById(name + "-dot");
                let text = document.getElementById(name + "-text");

                if (!dot || !text) {
                    console.log("Missing VM element:", name);
                    continue;
                }

                if (state === "running") {
                    dot.className = "dot green";
                    text.innerText = "Online (Running)";
                } else {
                    dot.className = "dot red";
                    text.innerText = "Offline (Stopped)";
                }
            }
        });
}

intervals.push(setInterval(updateVMStatus, 5000));

//============= End of VM status and games section ================

function updateSystem() {
    safeFetch('/api/system')
        .then(data => {
        if (!data) return;
            document.getElementById("hostname").innerText =
                "Server: " + data.hostname;

            document.getElementById("cpu").innerText =
                "CPU: " + data.cpu + "%";

            document.getElementById("ram").innerText =
                `RAM: ${data.ram_used}GB / ${data.ram_total}GB`;

            document.getElementById("disk").innerText =
                `Disk: ${data.disk_used}GB / ${data.disk_total}GB`;
        });
}

intervals.push(setInterval(updateSystem, 5000));

safeFetch("/api/stats")
  .then(data => {
        if (!data) return;
    document.getElementById("cpu-name").innerText = data.cpu;
  });

function loadStats() {
    safeFetch("/api/stats")
      .then(data => {
        if (!data) return;
        document.getElementById("cpu-name").innerText = data.cpu;
      });
}

loadStats();




</script>

</body>
</html>

